<h1>
    <div style="background-color: #f4f4f9; color: #333; text-align: center; padding: 20px; border-radius: 10px; font-family: 'Arial', sans-serif; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        Mission Assigned Completely
    </div>
    <a asp-action="Index">Back to List</a>
</h1>
